<div class="topic-index-wrapper">
  <div class="topic-index-container">

    <% provide(:title, '要約を探す') %>
    <h1 class="search-title">

    <%= search_form_for @search  do |f| %>
      <div class="form-group">
        <%= f.label :title_cont, "要約を探す", class: "form-title" %>
        <%= f.text_field :title_cont, class: "form-control" %>

      <div class="search-botton"><%= f.submit "検索" %></div>
      </div>
    <% end %>
    </h1>

    <% if @result.any? %>
      <%= render :partial => "result", :locals => { title: @result } %>
    <% end %>

    <% if @result.nil? %>
      <ul class="topics">
        <%= render @favorite_topics %>
      </ul>
    <% end %>
