<!DOCTYPE html>
<html>
  <head>
    <title>Classum</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to 'トップページ', '/',class: 'btn btn-block btn-black' %>
    <%= link_to 'サインイン', '/users/new', class: 'btn btn-block btn-black' %>
    <%= link_to 'ログイン', '/sessions/new',class: 'btn btn-block btn-black' %>
    <%= link_to '新規投稿', '/topics/new',class: 'btn btn-block btn-black' %>
    <%= link_to '投稿一覧', '/topics',class: 'btn btn-block btn-black' %>
    <%= link_to 'お気に入り一覧', '/favorites',class: 'btn btn-block btn-black' %>
    <% if flash[:notice] %>
      <div class="alert alert-success">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert alert-danger">
        <%= flash[:alert] %>
      </div>
    <% end %>


    <%= yield %>
  </body>
</html>
